DISPARO_DB=./dados/disparo.db
ANTHROPIC_API_KEY=
EVOLUTION_BASE_URL=http://localhost:8080
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=portosul-01
VENDEDORA_TELEFONE=5511999999999
PAINEL_SENHA=
WHISPER_MODELO=small
